<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel=”canonical” href="{{ site.url }}{{ page.url }}" />
    {% include_cached head/favicons.html %}
    {% include head/og-tags.html %}
    {% include head/structured-data.html %}
    {% asset css/critical @inline !type %}
</head>
