<article class="card">

    {% if include.image.url %}
    {% include components/image.html image=include.image.url style="card" alt=include.image.title %}
    {% endif %}

    <div>
        <h3>{{ include.title }}</h3>

        {% include components/content.html item=content %}

        {% include components/link.html url=include.url class="read-more" title=site.data.vocabulary.read-more %}

        {% if include.url%}
        {% include components/link.html url=include.url class="read-more" title=site.data.vocabulary.read-more %}
        {% endif %}

    </div>


</article>
