// colors
$color-border: #f5ecdd;
$color-focus: #4c787f;
$color-highlight: #4c787f;
$color-primary: #f5ecdd;
$color-secondary: #72501f;
$color-text: #43322B;

// base
$base-background: null;
$base-border-size: 2px;
$base-font-family: 'Roboto Slab', sans-serif;
$base-font-size: 1.6rem;
$base-font-weight: 300;
$base-font-weight-bold: 600;
$base-line-height: 3rem;
$base-margin: 3rem;
$base-padding: null;

// headings
$heading-color: null;
$heading-font-family: null;
$heading-font-size: 2.4rem;
$heading-line-height: 2.8rem;
$heading-margin: 2rem;

