---
layout: default
---

{% include components/figure.html style="banner" image=page.banner.url id="banner" alt=page.banner.alt caption=page.banner.caption %}

{% if content.size > 1 %}
<article class="post">

    {% include components/figure.html style="card" image=page.image.url alt=page.image.alt caption=page.image.caption %}

    <div class="content">
        {% include components/content.html item=content %}
        {% include components/date.html date=page.date icon="time" %}
    </div>

</article>
{% endif %}

{% if page.includes %}
{% for item in page.includes %}
{% include sections/{{ item }}.html %}
{% endfor %}
{% endif %}
